<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhubaokeji.android">
    <uses-sdk android:minSdkVersion="19"></uses-sdk>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".SampleApplication"
        android:theme="@style/AppTheme">
        <activity android:name="com.zhubaokeji.android.view.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhubaokeji.android.view.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoColorSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoColorResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoColorDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoUserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.CompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhengshuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.GoldPriceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.ZhubaoRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpLoginActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden">
         </activity>
        <activity android:name="com.zhubaokeji.android.view.JpSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpUserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpOrderResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpBulletinActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpBulletinDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpShoppingCartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpVerifyAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.JpModifyPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity android:name="com.zhubaokeji.android.view.CalculatorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
        </activity>
        <activity android:name="com.zhubaokeji.android.view.OfferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >
        </activity>
        <activity android:name="com.zhubaokeji.android.view.OnlinepriceTableActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>
        <activity android:name="com.zhubaokeji.android.view.BasicSettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity android:name="com.zhubaokeji.android.view.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity android:name="com.zhubaokeji.android.view.PictureActity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <!-- Bugly升级SDK配置开始  -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>
        <!--API 24以上配置-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- Bugly升级SDK配置结束-->

        <!-- 友盟配置-->
        <meta-data android:value="58d0d77e9f06fd20340003a1" android:name="UMENG_APPKEY"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="UMENG_CHANNEL_VALUE" />
    </application>
</manifest>